<section id="top-fruit-pic">
  <a class="card card-body tab" href="<%=vegetables_veg_path%>">
    <h4 class="tab-text"><%=t('click_here.to_view_veg')%></h4>
  </a>

  <div class="card card-body title-card">
    <h1><%= t('fruits.name')%></h1>
  </div>

</section>

<section id="citrus">
  <div class="container-fluid">
    <div class="row title-row">
      <div class="col-sm-12 text-center">
        <h1><%= t('fruits.citrus')%></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="row section-row">
          <div class="col-sm-12 text-center ">
            <h1><%= t('fruits.oranges.name')%></h1>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <%= image_tag("fruit/citrus/oranges.jpg", class: "img-fluid") %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.variety')%>: <%= t('fruits.oranges.variety')%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.CO') %>:  <%= t('fruits.oranges.CO')%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.sizes') %>:  <%= t('fruits.oranges.sizes')%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.pack') %>:  <%= t('fruits.oranges.pack')%>
          </div>
        </div>


      </div>
      <div class="col-sm-4 text-center">
        <div class="row section-row">
          <div class="col-sm-12 text-center">
            <h1><%= t('fruits.tangerines.name')  %></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= image_tag("fruit/citrus/tangerine.jpg", class: "img-fluid") %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.variety')%>: <%= t('fruits.tangerines.variety')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.CO')%>: <%= t('fruits.tangerines.CO')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.sizes')%>: <%= t('fruits.tangerines.sizes')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.pack')%>: <%= t('fruits.tangerines.pack')%>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="row section-row">
          <div class="col-sm-12 text-center">
            <h1><%= t('fruits.satsumas.name')%></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= image_tag("fruit/citrus/satsuma.jpg", width: 350, height: 260) %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.variety')%>: <%= t('fruits.satsumas.variety')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.CO')%>: <%= t('fruits.satsumas.CO')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.sizes')%>: <%= t('fruits.satsumas.sizes')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.pack')%>: <%= t('fruits.satsumas.pack')%>
          </div>
        </div>
      </div>
    </div>

    <div class="row title-row">
      <div class="col-sm-6 text-center">
        <div class="row section-row">
          <div class="col-sm-12 text-center">
            <h1><%= t('fruits.lemons.name') %></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= image_tag("fruit/citrus/lemons.jpg", width: 300, height: 240) %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.variety')%>: <%= t('fruits.lemons.variety')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.CO')%>: <%= t('fruits.lemons.CO')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.sizes')%>: <%= t('fruits.lemons.sizes')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.pack')%>: <%= t('fruits.lemons.pack')%>
          </div>
        </div>


      </div>
      <div class="col-sm-6 text-center">
        <div class="row section-row">
          <div class="col-sm-12 text-center">
            <h1><%= t('fruits.limes.name') %></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= image_tag("fruit/citrus/lime.jpg", width: 300, height:240 ) %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.variety')%>: <%= t('fruits.limes.variety')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.CO')%>: <%= t('fruits.limes.CO')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.sizes')%>: <%= t('fruits.limes.sizes')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.pack')%>: <%= t('fruits.limes.pack')%>
          </div>
        </div>





      </div>
    </div>
  </div>
</section>

<section id="tomato-bg-image"></section>

<section id="tomatoes">
  <div class="container-fluid">

    <div class="row title-row">
      <div class="col-sm-12 text-center">
        <h1><%= t('fruits.tomatoes.name')%></h1>
      </div>
    </div>

    <div class="row title-row">
      <div class="col-sm-6 text-center">
        <div class="row section-row">
          <div class="col-sm-12 text-center">
            <h1><%=t('fruits.tomatoes.loose.name')%></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= image_tag("fruit/tomatoes/loosetomato.jpg", width: 300, height: 250) %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.variety')%>: <%= t('fruits.tomatoes.loose.variety')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.CO')%>: <%= t('fruits.tomatoes.loose.CO')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.sizes')%>: <%= t('fruits.tomatoes.loose.sizes')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.pack')%>: <%= t('fruits.tomatoes.loose.pack')%>
          </div>
        </div>

      </div>
      <div class="col-sm-6 text-center">
        <div class="row section-row">
          <div class="col-sm-12 text-center">
            <h1><%=t('fruits.tomatoes.vine.name')%></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= image_tag("fruit/tomatoes/vinetomato.jpg", width: 300, height: 250) %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.variety')%>: <%= t('fruits.tomatoes.vine.variety')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.CO')%>: <%= t('fruits.tomatoes.vine.CO')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.sizes')%>: <%= t('fruits.tomatoes.vine.sizes')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.pack')%>: <%= t('fruits.tomatoes.vine.pack')%>
          </div>
        </div>

      </div>
    </div>

  </div>

</section>

<section id="other-fruit-image"></section>

<section id="other-fruit">
  <div class="container-fluid">
    <div class="row title-row">
      <div class="col-sm-12 text-center">
        <h1><%= t('fruits.other_fruit')%></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 text-center">
        <h1><%= t('fruits.white_grapes')%></h1>
        <%= image_tag("fruit/other fruit/whitegrapes.jpg", class:"img-fluid") %>
      </div>
      <div class="col-sm-3 text-center">
        <h1><%= t('fruits.red_grapes')%></h1>
        <%= image_tag("fruit/other fruit/redgrapes.jpg", class: "img-fluid") %>
      </div>
      <div class="col-sm-3 text-center", style="padding-top: 5px;">
        <h1><%= t('fruits.pomegranates')%></h1>
        <%= image_tag("fruit/other fruit/pomegranate.jpg", class: "img-fluid") %>
      </div>
      <div class="col-sm-3 text-center">
        <h1><%= t('fruits.watermelons')%></h1>
        <%= image_tag("fruit/other fruit/watermelon.jpg", class:"img-fluid") %>
      </div>
    </div>

  </div>

</section>

<section id="end-pic"></section>
