<style>
  @media (max-width: 696px){
    .footer-row{
      padding-top: 50px;
    }
    .col-sm-3{
      padding-bottom: 50px;
    }
  }
</style>
<div class="container">
  <div class="row" style="padding-top:50px">
    <div class="col-sm-3 text-center">
      <%= image_tag("SIAGRILogo.svg", size: 300, style:"padding-bottom: 150px;") %>
    </div>
    <div class="col-sm-3 text-center">
      <h2><%= t('contact.telephone') %></h2>
      <div class="footer-row">
        <div class="col-md-12 text-center">
          <a href="tel:+34697652148">+34697652148</a>
        </div>
        <div class="col-md-12 text-center">
          <a href="tel:+34960699199">+34960699199</a>
        </div>

      </div>
    </div>
    <div class="col-sm-3 text-center">
      <h2><%= t('contact.email') %></h2>
      <div class="footer-row">
        <div class="col-md-12 text-center">
          <a href="mailto:info@si-agri.com">info@si-agri.com</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <h2><%= t('contact.address') %></h2>
      <div class="footer-row">
        <div class="col-md-12 text-center">
          <a href="https://www.google.com/maps/place/Av.+del+Primat+Reig,+118,+46010+Val%C3%A8ncia,+Spain/data=!4m2!3m1!1s0xd6048a279a5ff8f:0x55f98f5bc4a3ddf0?sa=X&ved=2ahUKEwiV3I2z7-7sAhVLT8AKHeCRD_AQ8gEwAHoECAMQAQ">
            Avenida Primado Reig nยบ 118, 46010 Valencia, Spain
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-bottom: 50px;">
    <div class="col-sm-6 text-center" >
      <p><%= t('contact.designed_by') %></p>
    </div>
    <div class="col-sm-3 text-center " >
      <%= link_to  image_tag("UKFlag.png", width: 100, height: 50), url_for(locale: :en) %>
    </div>
    <div class="col-sm-3 text-center ">
      <%= link_to image_tag("SpainFlag.png", width: 100, height: 50), url_for(locale: :es) %>
    </div>

  </div>
</div>
