<style>
  @media (max-width: 696px){
    .footer-row{
      padding-top: 50px;
    }
    .col-sm-3{
      padding-bottom: 50px;
    }
  }
</style>
<div class="container">
  <div class="row" style="padding-top:50px">
    <div class="col-sm-3 text-center">
      <%= image_tag("SIAGRILogo.svg", size: 300, style:"padding-bottom: 150px;") %>
    </div>
    <div class="col-sm-3 text-center">
      <h2><%= t('contact.telephone') %></h2>
      <div class="footer-row">
        <div class="col-md-12 text-center">
          <a href="tel:+34 960 725 571">+34 960 725 571</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <h2><%= t('contact.email') %></h2>
      <div class="footer-row">
        <div class="col-md-12 text-center">
          <a href="mailto:info@si-agri.com">info@si-agri.com</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <h2><%= t('contact.address') %></h2>
      <div class="footer-row">
        <!-- <div class="col-md-12 text-center">
          C/ Gran Via Ramon Y Cajal 55  46007  - (Valencia) - Valencia/valència
        </div> -->
      </div>
    </div>
  </div>
  <div class="row" style="padding-bottom: 50px;">
    <div class="col-sm-6 text-center" >
      <p><%= t('contact.designed_by') %></p>
    </div>
    <div class="col-sm-3 text-center " >
      <%= link_to  image_tag("UKFlag.png", width: 100, height: 50), url_for(locale: :en) %>
    </div>
    <div class="col-sm-3 text-center ">
      <%= link_to image_tag("SpainFlag.png", width: 100, height: 50), url_for(locale: :es) %>
    </div>

  </div>
</div>
