


  <div class="raindrop raindrop1">
  </div>
  <div class="raindrop raindrop2">
  </div>

  <body class="home-body" style="min-height: 1000px; overflow-y: hidden;">
  <div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-body home-card">
        <h3 class="card-title"><%=t('home.our_company.title')%></h3>
        <h5 class="card-text"><%= t('home.our_company.desc')%></h5>
        <a href="<%= about_path %>" class="btn btn-default card-btn card-learn-more"><%= t('home.our_company.learn_more')%></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card card-body home-card products-card">
          <h3 class="card-title"><%= t('home.our_products.title')%></h3>
          <h5 class="card-text" style="text-align: center;"><%= t('home.our_products.desc')%></h5>
          <div class="row" style="margin-top: 10px;">
            <!-- Laptop -->
            <div class="col-sm-6 text-center laptop-card">
                  <a href="<%=fruit_path %>" class="btn btn-default card-btn"><%= t('navbar.fruits')%></a>
            </div>
            <div class="col-sm-6 text-center laptop-card">
                  <a href="<%=vegetables_veg_path%>"  class="btn btn-default card-btn"><%=t('navbar.vegetables')%></a>
            </div>

            <!-- mobile -->
            <div class="col-xs-6 mobile-card" style="margin-right: 10%; margin-left: 5%;">
                  <a href="<%=fruit_path %>" class="btn btn-default card-btn"><%= t('navbar.fruits')%></a>
            </div>
            <div class="col-xs-6 mobile-card">
                  <a href="<%=vegetables_veg_path%>"  class="btn btn-default card-btn"><%=t('navbar.vegetables')%></a>
            </div>



          </div>


    </div>
    </div>
  </div>


    </div>



</body>
