<section id="top-veg-pic">

  <a class="card card-body tab tab-fruit" href="<%=fruit_path%>">
    <h4 class="tab-text"><%=t('click_here.to_view_fruit')%></h4>
  </a>
  <div class="card card-body title-card">
    <h1><%= t('vegetables.title')%></h1>
  </div>
</section>


<section id="capsicums">
  <div class="container-fluid">
    <div class="row title-row">
      <div class="col-sm-12 text-center">
        <h1><%=t('vegetables.capsicums.name') %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="row section-row">
          <div class="col-md-12 text-center">
              <h1><%= t('vegetables.capsicums.red.name')%></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <%= image_tag("vegetables/capsicums/red-cap.jpg", width: 300, height: 280)%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.variety')%>: <%= t('vegetables.capsicums.red.variety')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.CO')%>: <%= t('vegetables.capsicums.red.CO')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.unit_weight')%>: <%= t('vegetables.capsicums.red.unit_weight')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.sizes')%>: <%= t('vegetables.capsicums.red.sizes')%>
          </div>
        </div>

        </div>

        <div class="col-md-4 text-center">

          <div class="row section-row">
            <div class="col-md-12 text-center">
                <h1><%= t('vegetables.capsicums.green.name')%></h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <%= image_tag("vegetables/capsicums/green-cap.jpg", class: "img-fluid")%>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 text-center">
              <%= t('products.variety')%>: <%= t('vegetables.capsicums.green.variety')%>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 text-center">
              <%= t('products.CO')%>: <%= t('vegetables.capsicums.green.CO')%>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 text-center">
              <%= t('products.unit_weight')%>: <%= t('vegetables.capsicums.green.unit_weight')%>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 text-center">
              <%= t('products.sizes')%>: <%= t('vegetables.capsicums.green.sizes')%>
            </div>
          </div>

          </div>


          <div class="col-md-4 text-center">

            <div class="row section-row">
              <div class="col-md-12 text-center">
                  <h1><%= t('vegetables.capsicums.yellow.name')%></h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <%= image_tag("vegetables/capsicums/yellow-cap.jpg", class: "img-fluid")%>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 text-center">
                <%= t('products.variety')%>: <%= t('vegetables.capsicums.yellow.variety')%>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 text-center">
                <%= t('products.CO')%>: <%= t('vegetables.capsicums.yellow.CO')%>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 text-center">
                <%= t('products.unit_weight')%>: <%= t('vegetables.capsicums.yellow.unit_weight')%>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 text-center">
                <%= t('products.sizes')%>: <%= t('vegetables.capsicums.yellow.sizes')%>
              </div>
            </div>

            </div>
      </div>




    </div>
  </div>
</section>

<section id="onion-bg-pic"></section>

<section id="onions">

  <div class="row title-row">
    <div class="col-sm-12 text-center">
      <h1><%=t('vegetables.onions.title')%></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 text-center">

      <div class="row section-row">
        <div class="col-sm-12 text-center">
          <h1><%=t('vegetables.onions.red.name')%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= image_tag("vegetables/onions/red-onion.jpg", width: 300, height: 280)%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.variety')%>: <%= t('vegetables.onions.red.variety')%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.CO')%>: <%= t('vegetables.onions.red.CO')%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.pack')%>: <%= t('vegetables.onions.red.pack')%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.sizes')%>: <%= t('vegetables.onions.red.sizes')%>
        </div>
      </div>

    </div>

    <div class="col-sm-6 text-center">

      <div class="row section-row">
        <div class="col-sm-12 text-center">
          <h1><%=t('vegetables.onions.spanish.name')%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= image_tag("vegetables/onions/spanish-onion.jpg", width: 300, height: 280)%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.variety')%>: <%= t('vegetables.onions.spanish.variety')%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.CO')%>: <%= t('vegetables.onions.spanish.CO')%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.pack')%>: <%= t('vegetables.onions.spanish.pack')%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.sizes')%>: <%= t('vegetables.onions.spanish.sizes')%>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="chilli-bg-pic">
</section>

<section id="chillies">

  <div class="row title-row">
    <div class="col-sm-12 text-center">
      <h1><%= t('vegetables.chillies.name')%></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 text-center">

      <div class="row section-row">
        <div class="col-sm-12 text-center">
          <h1><%= t('vegetables.chillies.habanero.name')%></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= image_tag("vegetables/chillies/habanero.jpg", width: 350, height: 280)%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.CO')%>: <%= t('vegetables.chillies.habanero.CO')%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.unit_weight')%>: <%= t('vegetables.chillies.habanero.unit_weight')%>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center">

      <div class="row section-row">
        <div class="col-sm-12 text-center">
          <h1><%= t('vegetables.chillies.red.name')%></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= image_tag("vegetables/chillies/red-chilli.jpg", width: 350, height: 280)%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.CO')%>: <%= t('vegetables.chillies.red.CO')%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.unit_weight')%>: <%= t('vegetables.chillies.red.unit_weight')%>
        </div>
      </div>
    </div>
  </div>


</section>

<section id="other-veg-bg"></section>

<section id="other-veg">
  <div class="row title-row">
    <div class="col-sm-12 text-center">
      <h1><%= t('vegetables.other_veg.title')%>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 text-center">
      <div class="row section-row">
        <div class="col-sm-12 text-center">
          <h1><%=t('vegetables.other_veg.courgette.name')%></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%=image_tag("vegetables/other vegetables/courgette.jpg", width: 300, height: 280) %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.CO')%>: <%= t('vegetables.other_veg.courgette.CO')%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.unit_weight')%>: <%= t('vegetables.other_veg.courgette.unit_weight')%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.sizes')%>: <%= t('vegetables.other_veg.courgette.sizes')%>
        </div>
      </div>
    </div>

    <div class="col-sm-4 text-center">
      <div class="row section-row">
        <div class="col-sm-12 text-center">
          <h1><%=t('vegetables.other_veg.sweet_potato.name')%></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%=image_tag("vegetables/other vegetables/sweet-potato.jpg", width: 320, height: 280) %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.variety')%>: <%= t('vegetables.other_veg.sweet_potato.variety')%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.CO')%>: <%= t('vegetables.other_veg.sweet_potato.CO')%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.pack')%>: <%= t('vegetables.other_veg.sweet_potato.pack')%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= t('products.sizes')%>: <%= t('vegetables.other_veg.sweet_potato.sizes')%>
        </div>
      </div>
    </div>

    <div class="col-sm-4 text-center">
        <div class="row section-row">
          <div class="col-sm-12 text-center">
            <h1><%=t('vegetables.other_veg.cucumber.name')%></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%=image_tag("vegetables/other vegetables/cucumber.jpg", width: 320, height: 280) %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.CO')%>: <%= t('vegetables.other_veg.sweet_potato.CO')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.unit_weight')%>: <%= t('vegetables.other_veg.cucumber.unit_weight')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.sizes')%>: <%= t('vegetables.other_veg.cucumber.sizes')%>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="row section-row">
          <div class="col-sm-12 text-center">
            <h1><%=t('vegetables.other_veg.aubergines.name')%></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%=image_tag("vegetables/other vegetables/aubergine.jpg", width: 320, height: 280) %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.CO')%>: <%= t('vegetables.other_veg.aubergines.CO')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.unit_weight')%>: <%= t('vegetables.other_veg.aubergines.unit_weight')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.sizes')%>: <%= t('vegetables.other_veg.aubergines.sizes')%>
          </div>
        </div>
      </div>

      <div class="col-sm-4 text-center">
        <div class="row section-row">
          <div class="col-sm-12 text-center">
            <h1><%=t('vegetables.other_veg.butternut_squash.name')%></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%=image_tag("vegetables/other vegetables/squash.jpg", width: 320, height: 280) %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.CO')%>: <%= t('vegetables.other_veg.butternut_squash.CO')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.pack')%>: <%= t('vegetables.other_veg.butternut_squash.pack')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.sizes')%>: <%= t('vegetables.other_veg.butternut_squash.sizes')%>
          </div>
        </div>
      </div>

      <div class="col-sm-4 text-center">
        <div class="row section-row">
          <div class="col-sm-12 text-center">
            <h1><%=t('vegetables.other_veg.lettuce.name')%></h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%=image_tag("vegetables/other vegetables/lettuce.jpg", width: 320, height: 280) %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.CO')%>: <%= t('vegetables.other_veg.lettuce.CO')%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <%= t('products.sizes')%>: <%= t('vegetables.other_veg.lettuce.sizes')%>
          </div>
        </div>
      </div>
    </div>


    </div>

</section>

<section id="bottom-veg-pic"></section>
