
<section id="top-video">
  <%= video_tag "about-us-bg.mp4", id: "video", autoplay: true, loop: true, muted: true, controls: false; %>
  <h1 class="about-title"><%=t('navbar.about_us')%></h1>
</section>


  <div class="container-fluid" style="background: linear-gradient(180deg, rgb(13, 255, 0) 0%, rgb(9, 173, 0) 51%, rgb(7, 117, 1) 85%);">

      <div class="row about-row">
        <div class="col-md-7 text-center">
          <h1 class="heading"><%= t('about_us.vision.title') %></h1>
          <h4 class="desc"><%= t('about_us.vision.desc') %></h4>
        </div>
        <div class="col-md-4 text-center">
          <%= image_tag("vision.jpg", height: 300, width: 350, class:"img-cont") %>
        </div>
      </div>


      <div class="row about-row">
        <div class="col-md-7 text-center">
          <h1 class="heading"><%= t('about_us.principles.title') %></h1>
          <h4 class="desc"><%= t('about_us.vision.desc') %></h4>
        </div>
        <div class="col-md-4 text-center">
          <%= image_tag("products-background.jfif", height: 300, width: 350, class:"img-cont") %>
        </div>
      </div>

      <div class="row about-row">
        <div class="col-md-7 text-center">
          <h1 class="heading"><%= t('about_us.social.title') %></h1>
          <h4 class="desc"><%= t('about_us.social.desc') %></h4>
        </div>
        <div class="col-md-4 text-center">
          <%= image_tag("social (2).jpg", height: 300, width: 350, class:"img-cont") %>
        </div>
      </div>
  </div>

<section id="bottom-half">
</section>
