<section id="first-half">
  <h1 class="contact-title"><%=t('navbar.contact') %></div>

</section>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 text-center heading-image">
      <h1 class="contact-heading"><%= t('contact.telephone') %></h1>
      <%= image_tag("telephone-icon.png", size:250) %>

      <!-- <div class="col-sm-12 text-center heading-image">
        <a href="tel:+34 960 725 571" class="contact-desc" style="color:white">+34 960 725 571</a>
      </div> -->
    </div>
    <div class="col-sm-4 text-center heading-image">
      <h1 class="contact-heading"><%= t('contact.email') %></h1>
      <%= image_tag("email-icon.png", size:250) %>
      <div class="col-sm-12 text-center  heading-image">
        <a href="mailto:info@si-agri.com" class="contact-desc">info@si-agri.com</a>
      </div>

    </div>
    <div class="col-sm-4 text-center  heading-image">
      <h1 class="contact-heading"><%= t('contact.address') %></h1>
      <%= image_tag("address-icon.png", size: 250) %>
      <div class="col-sm-12 text-center  heading-image">
        <div style="width: 100%"><iframe scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=Avenida%20Primado%20Reig%20n%C2%BA%20118,%2046010%20Valencia,%20Spain+(My%20Business%20Name)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="400" frameborder="0"></iframe></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center">

    </div>
    <div class="col-sm-4 text-center">

    </div>
    <div class="col-sm-4 text-center">

    </div>
  </div>

<section id="second-half"></section>
